export default {
  firebase: {
    apiKey: 'AIzaSyCcT0BUbiZiKUuCw3AtB4U8UExHQkjI2e8',
    authDomain: 'vueschool-firebase-au.firebaseapp.com',
    databaseURL: 'https://vueschool-firebase-au.firebaseio.com',
    projectId: 'vueschool-firebase-au',
    storageBucket: 'vueschool-firebase-au.appspot.com',
    messagingSenderId: '795856805888'
  }
}